/bootstrap/cache
/node_modules
/public/hot
/public/storage/interactive/*
/public/storage/pdf/*
/public/storage/video/*
/public/storage/thumb/pdf/*
/public/storage/temp/pdf/*
/public/storage/thumb/video/*
/public/storage/temp/video/*

/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

all.sql
edu_grade_users.sql
bootstrap/cache/packages.php
bootstrap/cache/services.php
